@import "_diseño.scss";

footer{
    width:100%;
    height: 25rem;
    background-color: green;
    display:grid;
    grid-template-columns: 1fr 2fr;


    .foto_footer{
        background-color: yellow;
    }

    .info_contacto{
        background-color: blue;
    }
}